# 기계학습 (60점)

## 데이터 설명
출처 : https://hbiostat.org/data/repo/cvlbw (후처리)     
데이터 설명 : 극소저체중아 (37주 미만, 1.6kg 미만 출산 유아의 사망정보를 담은 데이터) / 종속변수 dead


| **컬럼명** | **설명** | **단위** | **수준(Levels)** | **결측치(NA)** |
|------------|----------|----------|------------------|----------------|
| **lowph** | 생후 4일 내 최저 pH | - | - | 62 |
| **pltct** | 혈소판 수 | - | - | 70 |
| **race** | 인종 | - | 백인(white), 흑인(black), 원주민(native American), 동양인(oriental) | 25 |
| **bwt** | 출생 체중 | g(그램) | - | 2 |
| **gest** | 임신 주수 | 주(weeks) | - | 4 |
| **inout** | 출생 장소 | - | 병원(at hospital), 이송중 출산(transported) | 3 |
| **twn** | 다태아 여부(다중 임신) | - | - | 20 |
| **meth** | 어머니의 베타-메타손 치료 여부 | - | - | 106 |
| **toc** | 어머니의 베타-아드레날린 약물(진통 억제제) 치료 여부 | - | - | 106 |
| **delivery** | 분만 방식 | - | 제왕절개(abdominal), 질식(vaginal) | 22 |
| **vent** | 인공호흡기 사용 여부 | - | - | 30 |
| **pneumo** | 기흉 발생 여부 | - | - | 26 |
| **pda** | 동맥관 개존증(PDA) 진단 여부 | - | - | 29 |
| **cld** | 생후 30일 시 보충 산소 사용 여부 | - | - | 66 |
| **pvh** | 뇌실 주위 출혈 | - | 없음(absent), 가능성 있음(possible), 확실(definite) | 145 |
| **ivh** | 뇌실 내 출혈 | - | 없음(absent), 가능성 있음(possible), 확실(definite) | 144 |
| **ipe** | 뇌실 주위 백질연화증 | - | 없음(absent), 가능성 있음(possible), 확실(definite) | 144 |
| **sex** | 성별 | - | 여성(female), 남성(male) | 21 |
| **dead** | 사망 여부 | - | 0(생존), 1(사망) | 0 |

In [19]:
import pandas as pd
df= pd.read_csv('./data/vlbw.csv')
df.head()

,lowph,pltct,race,bwt,gest,inout,twn,meth,toc,delivery,vent,pneumo,pda,cld,pvh,ivh,ipe,sex,dead
0,NaN,100.0,white,1250.0,35.0,born at Duke,0.0,0.0,0.0,abdominal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,female,0
1,7.250000,244.0,white,1370.0,32.0,born at Duke,0.0,1.0,0.0,abdominal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,female,0
2,7.059998,114.0,black,620.0,23.0,born at Duke,0.0,0.0,1.0,vaginal,1.0,0.0,0.0,NaN,NaN,NaN,NaN,female,1
3,7.250000,182.0,black,1480.0,32.0,born at Duke,0.0,1.0,0.0,vaginal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,male,0
4,6.969997,54.0,black,925.0,28.0,born at Duke,0.0,0.0,0.0,abdominal,1.0,1.0,0.0,0.0,definite,definite,NaN,female,1

## 1-1   
뇌출혈 관련 변수 3개 (pvh, ivh, ipe)의 변수들 간의 연관성을 확인하려한다.     
변수를 두개씩 조합하여 교차표를 만들고 적절한 방법을 통해 연관성을 판단하라.

## 1-2

아래의 기준을 참고하여 파생변수 두개 Bleed, Ind를 생성하라.

`Bleed` 
- pvh,ivh,ipe가 모두 absent 값이라면 0, 셋 중 하나라도 positive or definite이면 1, 그 외 na

`Ind`
- pvh,ivh,ipe를 제외한 모든 컬럼이 결측치가 없으면 0, bleed가 결측이면 1, 나머지는 2

## 1-3
pvh,ivh,ipe 컬럼을 제외하고 나머지 컬럼들에 대한 전처리를 진행하라
- 결측치 처리
- 범주형 변수 변환
- dead를 종속변수로 가정하고 모델링에 적합하지 않다 생각하는 변수 제거 등

## 1-4
시각화를 포함한 EDA를 진행하라.

# 1-5
Bleed를 예측하기 위한 단일 알고리즘 모델과 앙상블 모델을 비교 분석 서술하라.
1. dead,pvh,ivh,ipe,Ind 컬럼은 제외
2. 종속변수는 Bleed, Bleed가 결측치인 경우 해당 행 제외
3. Ind값이 2인 데이터는 학습에 사용하고, Ind가 0인 데이터로 테스트를 진행하라
4. 적절한 평가지표를 선택하라
5. 변수중요도를 구해서 중요한 2개변수는 따로 출력을 한다.

# 1-6
dead 컬럼을 예측하기 위한 기계학습 모델
1. pvh,ivh,ipe,Ind 제외 / Bleed 포함
2. Ind 값이 1,2인 경우 학습데이터 / 0인 경우 테스트데이터
3. 모델링 및 평가 방식은 1-5와 동일하게 진행

## 데이터 설명

출처: 데이터 포털 (https://www.data.go.kr/data/15065269/fileData.do) + 후처리     
설명:
1. 전력량데이터 (m2_source.csv)
   - 21~23년의 A지역에서의 시간대별 태양열, 풍력 발전기에 의한 발전량
3. 기상데이터 (m2_weather.csv)
   - 21~23년의 A지역에서의 시간대별 기상정보에 대한 데이터

In [18]:
import pandas as pd

df1 = pd.read_csv('./data/m2_source.csv')
df2 = pd.read_csv('./data/m2_weather.csv')

display(df1.head(2))
display(df2.head(2))

,일자,자원,hour_1,hour_2,hour_3,hour_4,hour_5,hour_6,hour_7,hour_8,...,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,hour_24
0,2021-01-01,태양광,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.07,...,22.62,15.22,8.02,1.89,0.10,0.81,0.11,0.01,0.01,0.01
1,2021-01-01,풍력,119.64,105.18,106.19,76.71,65.16,79.13,47.67,39.37,...,29.19,27.11,23.78,19.02,36.62,24.00,19.66,14.78,23.45,21.14

             일시   기온  강수량   풍속    습도  일조  일사  적설  전운량  지면온도
0  2021_01_01@0  4.5  NaN  6.1  53.0 NaN NaN NaN  9.0   2.2
1  2021_01_01@1  4.3  NaN  5.6  58.0 NaN NaN NaN  9.0   2.4

## 2-1
아래의 기준에 맞춰 전처리를 작업하고 최종 데이터의 전체 데이터 평균값(일시제외)을 출력하라 

1. 전력량 데이터에서 결측치를 제거하라.
    - 결측치가 존재하는 시간대의 동일 일자, 동일 자원 데이터의 직전 값과 다음 값의 평균으로 대치한다.
    - 연속된 시간대의 결측치가 있다면 결측치가 아닌 이전 시간대의 값과 이후 시간대의 값의 평균으로 모든 연속 시간대 결측치를 대치한다.
    - 맨앞이나 맨뒤에 결측치가 존재한다면 직전, 직후 시간대 값으로 대치한다.
2. 결측치를 제거한 전력량 데이터에 대해 총전력량(태양광 + 풍력 발전량의 합)을 구한다.
    - 동일 일자 동일 시간대에 대해 태양광과 풍력의 합을 구한다. 하나의 일자는 하나의 행에 시간대별 총전력량을 표현해야한다.
    - 특정일자에 태양광 또는 풍력이 하나만 있는 경우에는 해당 자원의 전력량을 2배로 한다.
3. 파생변수를 생성한다.
    - 변수명 season
    - 3-5월 0, 6-8월 1, 9-10월 2, 11-12월 3
4. 기상데이터의 일시를 적절한 `년-월-일 시간` 형식으로 변경한다.
5. 기상데이터의 결측치를 처리한다
    - 강수량, 일조, 일사, 적설은 0으로 채운다.
    - 풍속, 습도는 직전값으로 전운량과 지면온도는 전체 평균값으로 대치한다.
6. 두 데이터를 `년-월-일 시간` 값을 기준으로 합친다.
    - 전력량 데이터의 시간 컬럼은 숫자 1을 빼야 기상데이터와 매핑이 된다. (hour_1 : 기상데이터의 0시)
    - 최종 데이터의 컬럼은 일시, 총전력량, season, 기온, 강수량, 풍속, 습도, 일조, 일사, 적설, 전운량, 지면온도 총 14개의 컬럼을 가진다.

## 2-2
전처리 완료된 데이터의 기술 통계량 및 EDA를 실시하라 (시각화 포함)

## 2-3
1. 총전력량을 종속변수로 하고 종속변수와 다른 연속형 변수들간의 상관관계 분석을 진행하라. 유의확률을 포함하여 분석결과를 서술하라.
2. season에 따라 종속변수간의 차이가 있는지 통계적으로 확인하고 분석결과를 서술하라.

## 2-4
아래 기준으로 회귀모델링을 진행하고 평가하라.
1. 21년,22년도를 학습데이터, 23년도를 평가데이터로 사용한다.
2. RMSE를 포함한 적절한 평가지표 2가지로 판단
3. 일반 회귀모형 1개, 기계학습 모델 1개로 진행한다.

# 통계분석(40점)

In [ ]:
종속변수 : 성적 (score 수치형)
독립변수 : 2개 컬럼 yes / no | 수치형 변수 3~6개 (0~3인 서열변수도 더미화)
3-1 가정 관련(성별, 교육방법)
3-2 검정 후 주효과, 상호작용 검정
3-3 주 효과에 대한 사후검정

## 데이터 설명

출처: generate    
설명: 40명 남,여학생들의 3가지 학습방법에 따른 성적 데이터     
경로: ./data/student_scores.csv

In [25]:
df =pd.read_csv('./data/student_scores.csv')
df.head()

   id    성별  traindition  online  mix
0   1  Male           69      74   68
1   2  Male           59      65   63
2   3  Male           60      75   63
3   4  Male           79      52   76
4   5  Male          100      77   67

## 3-1
성별,교육방법에 따른 성적의 차이가 존재하는지 확인하려한다. 가설 검정 전 필요한 사전 가정을 설명하고 확인하라.

## 3-2
통계검정을 진행 후 검정 후 주효과, 상호작용 검정을 진행하라

# 3-3
주 효과에 대한 사후검정을 진행하라

In [ ]:
4. 성적 데이터
4-1 회귀모델이 유의한지 F검정(귀무가설 대립가설)(모델 유의성 판단) / 결정계수(.19 ~0.21) 제시 및 해석 
4-2 잔차를 통해 회귀모델의 유의성 검정  # 오른쪽에 몰려있었음 / 해석문제
4-3 다중공선성이 있는지 VIF로 측정 및 확인 (넘어가는 경우 없었음) 
4-4 score(종속변수)에 가장 영향을 끼치는 변수는 무엇인가? 회귀 계수와 Pv를 확인하라. (음의 방향으로 가장 낮은 값을 가지는 경우가 있었음)

## 데이터 설명

출처: https://www.kaggle.com/datasets/whenamancodes/alcohol-effects-on-study?resource=download 후처리     
설명: 주변환경에 따른 성적 데이터      
경로: ./data/s4.csv
컬럼:    
- score : 성적 (종속변수)
- studytime : weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- failures : number of past class failures (numeric: n if 1<=n<3, else 4)
- schoolsup : extra educational support (binary: yes or no)
- famsup : 	family educational support (binary: yes or no)
- absences : number of school absences (numeric: from 0 to 93)

In [26]:
import pandas as pd
df = pd.read_csv('./data/s4.csv')
df.head()

     ID  studytime  failures schoolsup famsup  absences  score
0  ID_1          2         0       yes     no         4     11
1  ID_2          2         0        no    yes         2     11
2  ID_3          2         0       yes     no         6     13
3  ID_4          3         0        no    yes         0     14
4  ID_5          2         0        no    yes         0     13

## 4-1
회귀모델이 유의한지 F검정에 대한 분석 및 결정계수 제시 및 해석

## 4-2
잔차를 통해 회귀모델의 유의성 검정

# 4-3
다중공선성이 있는지 VIF로 측정 및 확인 및 제언

# 4-4
회귀계수 및 검정 결과로 가장 유의한 변수 무엇인지 설명하라.